*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
color:white;
background:linear-gradient(135deg,#2b1055,#7597de,#2b1055);
background-size:400% 400%;
animation:gradientMove 10s ease infinite;
}

@keyframes gradientMove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

/* PARTICLES */
#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;
}

/* HEADER */
header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:rgba(0,0,0,0.4);
backdrop-filter:blur(10px);
}

.logo{
color:#c084fc;
}

/* NAV */
nav a{
margin-left:20px;
text-decoration:none;
color:white;
position:relative;
}

nav a::after{
content:"";
width:0%;
height:2px;
background:#c084fc;
position:absolute;
bottom:-5px;
left:0;
transition:0.3s;
}

nav a:hover::after{
width:100%;
}

/* HERO */
.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:50px;
}

.hero h2{
color:#fb923c;
margin:10px;
}

/* BUTTON */
button{
padding:12px 25px;
border:none;
border-radius:25px;
background:#a855f7;
color:white;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
box-shadow:0 0 20px #a855f7;
}

/* SECTIONS */
section{
padding:80px;
text-align:center;
opacity:0;
transform:translateY(40px);
transition:1s;
}

section.show{
opacity:1;
transform:translateY(0);
}

/* SKILLS */
.skills-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.skill{
padding:10px 25px;
background:rgba(255,255,255,0.1);
border-radius:20px;
transition:0.3s;
}

.skill:hover{
background:#a855f7;
transform:scale(1.1);
}

/* PROJECTS */
#project-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.project-card{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
padding:20px;
width:260px;
border-radius:15px;
transition:0.4s;
}

.project-card:hover{
transform:translateY(-12px) scale(1.05);
box-shadow:0 15px 35px rgba(168,85,247,0.6);
}

/* CONTACT */
.contact-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
margin-top:30px;
}

.contact-card{
background:rgba(255,255,255,0.08);
padding:20px;
width:250px;
border-radius:12px;
transition:0.3s;
}

.contact-card:hover{
transform:translateY(-8px);
box-shadow:0 10px 25px rgba(168,85,247,0.5);
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:rgba(0,0,0,0.4);
}